.source{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

}

.centralizarlinks{

    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.centralizarlinks a{

    font-size: 20px;
    margin: 10px;

}